<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class="col-lg-6 col-md-6">
                                <h1 class="h3 title-form">Listado de Solicitudes</h1>
                            </div>
                            <a routerLink="/registro_solicitud">
                                <button type="button" class="btn btn-primary btn-circle pull-right add" data-toggle="tooltip" data-placement="top" title="Agregar Solicitud">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                            </a>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table class="table no-cellborder">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Solicitante</th>
                                            <th class="text-center">Estado</th>
                                            <th class="text-center">Fecha de Solicitud</th>
                                            <th class="text-center">Proyectos</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let solicitud of solicitudes">
                                            <td class="text-center">{{solicitud.nombre}}</td>
                                            <td class="text-center">{{solicitud.solicitante.nombre}}</td>
                                            <td class="text-center">{{solicitud.status}}</td>
                                            <td class="text-center">{{solicitud.created_at  | date:'yyyy-MM-dd'}}</td>
                                            <td class="text-center"><span class="fa fa-search fa-2x " (click)="openModal(template,solicitud.id)" style="cursor:pointer"></span></td>
                                            <td class="text-center">
                                                <a *ngIf="this.solicitud.status == 'pendiente'" (click)="ActivarSolicitud(solicitud.id)" style="cursor: default;margin-right: 10px"> <button type="button" class="btn btn-success">activar</button></a><a (click)="AnularSolicitud(solicitud.id)" style="cursor: default;"><button type="button" class="btn btn-danger">Anular</button></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
                <!-- END column -->


            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{solicitud.nombre}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Descripcion</th>
                            <th class="text-center">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proyecto of solicitud.proyecto">
                            <td class="text-center">{{proyecto.nombre}}</td>
                            <td class="text-center">{{proyecto.descripcion}}</td>
                            <td class="text-center">{{proyecto.proyectotype.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>

</main>
<!--========== END app main -->