<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="widget widget-pie-chart" style="min-height:350px">
                        <header class="widget-header">
                            <h4 class="widget-title">PROYECTO</h4>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body clearfix">
                            <div class="col-md-6"><img src="http://fondoeditorial.uneg.edu.ve/catalogo/portadas/copernico.jpg" alt="" style="height:300px"></div>
                            <div class="col-md-6">
                                <h2>{{proyecto.nombre}}</h2>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
            </div>


            <!-- .row -->

            <div class="row">
                <div class="col-md-2 col-sm-6 col-sm-offset-1 col-sm-offset-0">
                    <div class="widget stats-widget">
                        <footer class="widget-footer bg-primary">
                            <small>Etapa de Autor</small>
                        </footer>
                        <div class="widget-body clearfix">
                            <div class="pull-left">
                                <small class="text-color">Comentarios</small>
                            </div>
                            <span class="pull-right big-icon watermark"><i class="fa fa-paperclip"></i></span>
                        </div>

                    </div>
                    <!-- .widget -->
                </div>

                <div class="col-md-2 col-sm-6">
                    <div class="widget stats-widget">
                        <footer class="widget-footer bg-danger">
                            <small>Pendientes</small>
                            <span class="small-chart pull-right" data-plugin="sparkline" data-options="[1,2,3,5,4], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span>
                        </footer>
                        <div class="widget-body clearfix">
                            <div class="pull-left">
                                <h3 class="widget-title text-danger"><span class="counter" data-plugin="counterUp">0</span></h3>
                                <small class="text-color">Pendientes por Revisar</small>
                            </div>
                            <span class="pull-right big-icon watermark"><i class="fa fa-ban"></i></span>
                        </div>

                    </div>
                    <!-- .widget -->
                </div>

                <div class="col-md-2 col-sm-6">
                    <div class="widget stats-widget">
                        <footer class="widget-footer bg-warning">
                            <small>En Proceso</small>
                            <span class="small-chart pull-right" data-plugin="sparkline" data-options="[5,4,3,5,2],{ type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span>
                        </footer>
                        <div class="widget-body clearfix">
                            <div class="pull-left">
                                <h3 class="widget-title text-warning"><span class="counter" data-plugin="counterUp">0</span></h3>
                                <small class="text-color">Producciones en Proceso</small>
                            </div>
                            <span class="pull-right big-icon watermark"><i class="fa fa-file-text-o"></i></span>
                        </div>

                    </div>
                    <!-- .widget -->
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="widget stats-widget">
                        <footer class="widget-footer bg-success">
                            <small>Completados</small>
                            <span class="small-chart pull-right" data-plugin="sparkline" data-options="[2,4,3,4,3], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span>
                        </footer>
                        <div class="widget-body clearfix">
                            <div class="pull-left">
                                <h3 class="widget-title text-success"><span class="counter" data-plugin="counterUp">0</span></h3>
                                <small class="text-color">Producciones Completadas</small>
                            </div>
                            <span class="pull-right big-icon watermark"><i class="fa fa-unlock-alt"></i></span>
                        </div>

                    </div>
                    <!-- .widget -->
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="widget stats-widget">
                        <footer class="widget-footer bg-success">
                            <small>Completados</small>
                            <span class="small-chart pull-right" data-plugin="sparkline" data-options="[2,4,3,4,3], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span>
                        </footer>
                        <div class="widget-body clearfix">
                            <div class="pull-left">
                                <h3 class="widget-title text-success"><span class="counter" data-plugin="counterUp">0</span></h3>
                                <small class="text-color">Producciones Completadas</small>
                            </div>
                            <span class="pull-right big-icon watermark"><i class="fa fa-unlock-alt"></i></span>
                        </div>

                    </div>
                    <!-- .widget -->
                </div>

            </div>
            <!-- .row -->
        </section>
    </div>
</main>