<!-- Preliminar -->
<div class="col-md-3 col-sm-6">
    <div class="widget stats-widget">
        <footer class="widget-footer bg-primary" [ngSwitch]="this.etapa_preliminar.estado">
            <span style="font-size:20px">Preliminar</span>
            <span *ngSwitchCase="1" class="label label-warning pull-right" style="font-size:20px">Activa</span>
            <span *ngSwitchCase="2" class="label label-danger pull-right" style="font-size:20px">Finalizada</span>
            <span *ngSwitchDefault class="label label-default pull-right" style="font-size:20px">En espera</span>
            <br><br>
            <div class="text-center"><span> Entrega Estimada: <br> <span *ngIf="this.etapa_preliminar.estado ;else c_fecha">{{etapa_preliminar.estimado}}</span>
                <ng-template #c_fecha> <span>Sin definir</span> </ng-template>
                </span>
            </div>


        </footer>
        <div class="widget-body clearfix" style="min-height: 160px;">
            <a (click)="Modal(iniciar)" style="cursor: pointer;margin-right: 10px">
                <div *ngIf="!this.etapa_preliminar.estado" class="text-center" style="margin-top:15px"><span class="fa fa-power-off fa-2x m-t-md-10"></span> <span style="font-size:20px"> Iniciar Etapa</span> </div>
            </a>
            <div *ngIf="this.etapa_preliminar.estado == 1 && adjuntos_preliminar.length > 0" class="pull-left" (click)="Modal(finalizar)" style="cursor: pointer;"><span class="fa fa-power-off  "></span> Finalizar Etapa</div><br><br>
            <div *ngIf="this.etapa_preliminar.estado == 1" class="pull-left" (click)="Modal(preliminar)" style="cursor: pointer;"><span class="fa fa-plus"></span> Añadir adjunto</div>
            <div *ngFor="let adjunto of adjuntos_preliminar">
                <br>
                <div class="widget">
                    <div class="widget-body text-center">
                        <div>
                            <a href="{{this.url}}descargar/{{adjunto.id}}" download="{{adjunto.created_at}}"> {{adjunto.created_at}} <i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <br>
                        <div class="table-responsive text-justify">
                            <div class="panel-group accordion col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{adjunto.id}}" aria-expanded="false" aria-controls="collapse-1">
                                            <h4 class="panel-title">Comentarios</h4>
                                            <i class="fa acc-switch"></i>
                                        </a>
                                    </div>
                                    <div id="collapse-{{adjunto.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                                        <div class="panel-body" *ngFor="let comentario of adjunto.comentarios">
                                            <div class="panel-body comentario">
                                                {{comentario.contenido}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .widget -->
            </div>
        </div>
    </div>
    <!-- .widget -->
</div>

<!-- Diagramación -->
<div class="col-md-6 col-sm-6">
    <div class="widget stats-widget">
        <footer class="widget-footer bg-warning" [ngSwitch]="this.etapa_diagramacion.estado">
            <span style="font-size:20px">Diseño/Diagramación y Revisión</span>
            <span *ngSwitchCase="1" class="label label-warning pull-right" style="font-size:20px">En Diagramado</span>
            <span *ngSwitchCase="2" class="label label-danger pull-right" style="font-size:20px">Finalizada</span>
            <span *ngSwitchCase="3" class="label label-success pull-right" style="font-size:20px">En Revision</span>
            <span *ngSwitchDefault class="label label-default pull-right" style="font-size:20px">En espera</span>
            <br><br>
            <div class="text-center"><span> Entrega Estimada: <br><span *ngIf="this.etapa_diagramacion.estado ;else c_fecha">{{etapa_diagramacion.estimado}}</span>
                <ng-template #c_fecha> <span>Sin definir</span> </ng-template>
                </span>
            </div>
        </footer>
        <div class="widget-body clearfix" style="min-height: 160px;">
            <div class="col-md-12">
                <div *ngIf="this.etapa_diagramacion.estado == 1 && adjuntos_diagramacion.length > 2" class="pull-left" (click)="Modal(finalizar)" style="cursor: pointer;"><span class="fa fa-power-off  "></span> Finalizar Etapa</div><br><br>
                <div *ngIf="this.etapa_diagramacion.estado == 1" class="pull-left" (click)="Modal(preliminar)" style="cursor: pointer;"><span class="fa fa-plus"></span> Añadir adjunto</div>
                <div *ngIf="this.etapa_diagramacion.estado == 3 && adjuntos_diagramacion.length > 1" class="pull-left fa-2x" (click)="Modal(revisado)" style="cursor: pointer;"><span class="fa fa-check-square-o text-success"></span> Revisado</div>
            </div>
            <div>
                <div class="col-md-5 text-center text-warning">
                    <h3>Diagramado</h3>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 pull-right text-center text-success">
                    <h3>Revisado</h3>
                </div>
            </div>
            <div *ngFor="let adjunto of adjuntos_diagramacion ;let i = index; let ultimo = first;let par=even; let impar=odd;">
                <br>
                <div *ngIf="adjunto.status == 1" class="col-md-12">
                    <div class="widget-body text-center">
                        <div>
                            <a href="{{this.url}}descargar/{{adjunto.id}}" download="{{adjunto.created_at}}"> {{adjunto.created_at}} <i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <br>
                        <div class="table-responsive text-justify">
                            <div class="panel-group accordion col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{adjunto.id}}" aria-expanded="false" aria-controls="collapse-1">
                                            <h4 class="panel-title">Comentarios </h4>
                                            <i class="fa acc-switch"></i>
                                        </a>
                                    </div>
                                    <div id="collapse-{{adjunto.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                                        <div class="panel-body" *ngFor="let comentario of adjunto.comentarios">
                                            <div class="panel-body comentario">
                                                {{comentario.contenido}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="adjunto.status == 2" class="widget col-md-5 recuadro">
                    <h1 *ngIf="(adjuntos_diagramacion.length)%2 == 0;else contadora" style="position:absolute;z-index:10;top:60px">{{((adjuntos_diagramacion.length)/2) - ((i)/2) }}</h1>
                    <ng-template #contadora>
                        <h1 style="position:absolute;z-index:10;top:60px">{{((adjuntos_diagramacion.length + 1)/2) - ((i+ 1)/2) }}</h1>
                    </ng-template>

                    <div class="widget-body text-center">
                        <div>
                            <a href="{{this.url}}descargar/{{adjunto.id}}" download="{{adjunto.created_at}}"> {{adjunto.created_at}} <i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <br>
                        <div class="table-responsive text-justify">
                            <div class="panel-group accordion col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{adjunto.id}}" aria-expanded="false" aria-controls="collapse-1">
                                            <h4 class="panel-title">comentarios</h4>
                                            <i class="fa acc-switch"></i>
                                        </a>
                                    </div>
                                    <div id="collapse-{{adjunto.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                                        <div class="panel-body" *ngFor="let comentario of adjunto.comentarios">
                                            <div class="panel-body comentario">
                                                {{comentario.contenido}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="adjunto.status == 2" class="col-md-2 text-center" style="height: 170px;overflow:auto"><span class="fa fa-arrow-right fa-2x" style="margin-top: 80px"></span></div>
                <div *ngIf="adjunto.status == 3" class="widget col-md-5 pull-right" style="height: 170px;overflow:auto">

                    <div class="widget-body text-center">
                        <div>
                            <a href="{{this.url}}descargar/{{adjunto.id}}" download="{{adjunto.created_at}}"> {{adjunto.created_at}} <i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <br>
                        <div class="table-responsive text-justify">
                            <div class="panel-group accordion col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{adjunto.id}}" aria-expanded="false" aria-controls="collapse-1">
                                            <h4 class="panel-title">Comentarios</h4>
                                            <i class="fa acc-switch"></i>
                                        </a>
                                    </div>
                                    <div id="collapse-{{adjunto.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                                        <div class="panel-body" *ngFor="let comentario of adjunto.comentarios">
                                            <div class="panel-body comentario">
                                                {{comentario.contenido}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="ultimo && (adjuntos_diagramacion.length)%2 == 0 " class="widget col-md-5 pull-right" style="height: 170px">
                    <div class="text-center" (click)="Modal(preliminar)" style="cursor: pointer;"><span class="fa fa-plus fa-2x" style="margin-top: 80px"></span></div>
                </div>
            </div>
        </div>

        <!-- .widget -->
    </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="widget stats-widget">
        <footer class="widget-footer bg-success" [ngSwitch]="this.etapa_publicacion.estado">
            <span style="font-size:20px">Publicación</span>
            <span *ngSwitchCase="1" class="label label-warning pull-right" style="font-size:20px">Activa</span>
            <span *ngSwitchCase="2" class="label label-danger pull-right" style="font-size:20px">Finalizada</span>
            <span *ngSwitchDefault class="label label-default pull-right" style="font-size:20px">En espera</span>
            <br><br>
            <div class="text-center"><span> Entrega Estimada: <br><span *ngIf="this.etapa_publicacion.estado ;else c_fecha">{{etapa_publicacion.estimado}}</span>
                <ng-template #c_fecha> <span>Sin definir</span> </ng-template>
                </span>
            </div>
        </footer>
        <div class="widget-body clearfix" style="min-height: 160px;">
            <div *ngIf="this.etapa_publicacion.estado == 1">
                <div *ngIf="this.proyecto.solicitudes.publicacion == 'si';else no_publicacion" class="pull-left" (click)="Modal(publicar_proyecto)" style="cursor: pointer;"> <span class="fa fa-power-off  "></span> Finalizar Etapa</div>
                <ng-template #no_publicacion>
                    <div class="pull-left" (click)="Modal(publicar_otros)" style="cursor: pointer;"><span class="fa fa-power-off  "></span> Finalizar Etapa</div>
                </ng-template>
            </div>

            <br><br>
            <div *ngFor="let adjunto of adjuntos_publicacion">
                <br>
                <div class="widget">
                    <div class="widget-body text-center">
                        <div>
                            <a href="{{this.url}}descargar/{{adjunto.id}}" download="{{adjunto.created_at}}"> {{adjunto.created_at}} <i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <br>
                        <div class="table-responsive text-justify">
                            <div class="panel-group accordion col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{adjunto.id}}" aria-expanded="false" aria-controls="collapse-1">
                                            <h4 class="panel-title">Comentarios</h4>
                                            <i class="fa acc-switch"></i>
                                        </a>
                                    </div>
                                    <div id="collapse-{{adjunto.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                                        <div class="panel-body" *ngFor="let comentario of adjunto.comentarios">
                                            <div class="panel-body comentario">
                                                {{comentario.contenido}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .widget -->
            </div>
        </div>
    </div>
    <!-- .widget -->
</div>

<ng-template #preliminar>
    <div class="modal-header">
        <h4 class="modal-title text-center">Adición de Adjunto</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
            <div class="form-group col-md-10 col-md-offset-1">
                <label>Ubicación</label>
                <input type="file" formControlName="ubicacion" (change)="onSelected($event.target.files)" multiple required>
            </div>
            <div class="form-group col-md-10 col-md-offset-1">
                <label>Comentario</label>
                <textarea class="form-control" formControlName="comentario" id="" cols="30" rows="10" required></textarea>
            </div>
            <div class="col-xs-12">
                <div class="form-group text-center">
                    <button type="submit " class="btn btn-primary" [disabled]="!myForm.valid " style="margin-right:50px">Guardar</button>
                    <input type="button" value="Cancelar" class="btn btn-danger cancel" (click)="modalRef.hide()">
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="margin-20">
            </div>
        </form>
    </div>
</ng-template>

<ng-template #revisado>
    <div class="modal-header">
        <h4 class="modal-title text-center">Revisión de Adjunto</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="adjunto_revisado" novalidate (ngSubmit)="revisar(adjunto_revisado.value)">
            <div class="form-group col-md-10 col-md-offset-1">
                <label>Comentario</label>
                <textarea class="form-control" formControlName="comentario" id="" cols="30" rows="10" required></textarea>
            </div>
            <div class="col-xs-12">
                <div class="form-group text-center">
                    <button type="submit " class="btn btn-primary" [disabled]="!adjunto_revisado.valid " style="margin-right:50px">Guardar</button>
                    <input type="button" value="Cancelar" class="btn btn-danger cancel" (click)="modalRef.hide()">
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="margin-20">
            </div>
        </form>
    </div>
</ng-template>

<ng-template #iniciar>
    <div class="modal-header">
        <h4 class="modal-title text-center">Inicio de Desarrollo</h4>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-12 ">
            <span class="text-center">Al iniciar el desarrollo el tiempo de la etapa comenzara a avanzar. <br><br> Desea iniciar esta etapa?</span>
        </div>
        <form [formGroup]="estimado_preliminar" novalidate (ngSubmit)="ActivarEtapa(estimado_preliminar.value)">
            <div class="col-xs-12 col-12 col-md-12 form-group text-center">
                <label>Fecha de Entrega Estimada</label>
                <input formControlName="estimado" type="text" placeholder="Fecha Estimada" class="form-control" bsDatepicker [bsConfig]="bsConfig" [minDate]="minDate" [maxDate]="maxDate" required>
            </div>

            <div class="col-xs-12">
                <div class="form-group text-center">
                    <button type="submit " [disabled]="!estimado_preliminar.valid " class="btn btn-primary" style="margin-right:50px">Inciar</button>
                    <input type="button" value="Cancelar" class="btn btn-danger cancel" (click)="modalRef.hide()">
                </div>
            </div>
        </form>
        <div class="clearfix "></div>
        <div class="margin-20">
        </div>
    </div>
</ng-template>

<ng-template #finalizar>
    <div class="modal-header">
        <h4 class="modal-title text-center">Finalizacion de Etapa</h4>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-12 ">
            <span class="text-center">Una vez finalizada la etapa comenzará la siguiente, no se podra volver a reactivar la etapa. <br><br> Desea finalizar esta etapa?</span>
        </div>
        <form [formGroup]="estimado_demas" novalidate (ngSubmit)="FinalizarEtapa(estimado_demas.value)">
            <div class="col-xs-12 col-12 col-md-12 form-group text-center">
                <label>Fecha de Entrega Estimada</label>
                <input formControlName="estimado" type="text" required placeholder="Fecha Estimada" class="form-control" bsDatepicker [bsConfig]="bsConfig" [minDate]="minDate" [maxDate]="maxDate">
            </div>

            <div class="col-xs-12">
                <div class="form-group text-center">
                    <button type="submit " [disabled]="!estimado_demas.valid " class="btn btn-primary" style="margin-right:50px">Inciar</button>
                    <input type="button" value="Cancelar" class="btn btn-danger cancel" (click)="modalRef.hide()">
                </div>
            </div>
        </form>
        <div class="clearfix "></div>
        <div class="margin-20">
        </div>
    </div>
</ng-template>

<ng-template #publicar_proyecto>
    <div class="modal-header">
        <h4 class="modal-title text-center">Publicación de Proyecto</h4>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-12 ">
            <span class="text-center">Una vez finalizada la etapa el proyecto finalizará, no se podra volver a manipular el proyecto. <br><br> Desea finalizar esta etapa?</span>
        </div>
        <form [formGroup]="publicacion_proyecto" novalidate (ngSubmit)="publicacion(publicacion_proyecto.value)">
            <div class="col-xs-12 col-12 col-md-12 form-group text-center">
                <label>Correo</label>
                <input formControlName="correo" type="text" class="form-control" required>
            </div>
            <div class="col-xs-12 col-12 col-md-12 form-group text-center">
                <label>Asunto</label>
                <input formControlName="asunto" type="text" class="form-control" required>
            </div>
            <div class="form-group col-md-12">
                <label>Mensaje</label>
                <textarea class="form-control" formControlName="mensaje" id="" cols="30" rows="10" required></textarea>
            </div>
            <div class="col-xs-12 col-12 col-md-12 form-group text-center">
                <label>Link</label>
                <input formControlName="adjunto" type="text" class="form-control" required>
            </div>
            <div class="col-xs-12 col-12 col-md-12 form-group">
                <div class="col-md-6 form-group text-center">
                    <label>Deposito Legal</label>
                    <input formControlName="deposito" type="text" class="form-control" required>
                </div>
                <div class="col-md-6 form-group text-center">
                    <label>ISBN/ISSN</label>
                    <input formControlName="isbn" type="text" class="form-control" required>
                </div>
            </div>
            <input formControlName="link" type="hidden" [(ngModel)]='this.link' class="form-control" required>
            <div class="col-xs-12">
                <div class="form-group text-center">
                    <button type="submit " class="btn btn-primary" [disabled]="!publicacion_proyecto.valid " style="margin-right:50px">Finalizar</button>
                    <input type="button" value="Cancelar" class="btn btn-danger cancel" (click)="modalRef.hide()">
                </div>
            </div>
        </form>
        <div class="clearfix "></div>
        <div class="margin-20">
        </div>
    </div>
</ng-template>
<ng-template #publicar_otros>
    <div class="modal-header">
        <h4 class="modal-title text-center">Publicación de Proyecto</h4>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-12 ">
            <span class="text-center">Una vez finalizada la etapa el proyecto finalizará, no se podra volver a manipular el proyecto. <br><br> Desea finalizar esta etapa?</span>
        </div>
        <form [formGroup]="publicacion_proyecto" novalidate (ngSubmit)="publicacion(publicacion_proyecto.value)">
            <div class="col-xs-12 col-12 col-md-12 form-group text-center">
                <label>Correo</label>
                <input formControlName="correo" type="text" class="form-control" required>
            </div>
            <div class="col-xs-12 col-12 col-md-12 form-group text-center">
                <label>Asunto</label>
                <input formControlName="asunto" type="text" class="form-control" required>
            </div>
            <div class="form-group col-md-12">
                <label>Mensaje</label>
                <textarea class="form-control" formControlName="mensaje" id="" cols="30" rows="10" required></textarea>
            </div>
            <input formControlName="link" type="hidden" [(ngModel)]='this.link' class="form-control" required>
            <div class="col-xs-12">
                <div class="form-group text-center">
                    <button type="submit " class="btn btn-primary" [disabled]="!publicacion_proyecto.valid " style="margin-right:50px">Finalizar</button>
                    <input type="button" value="Cancelar" class="btn btn-danger cancel" (click)="modalRef.hide()">
                </div>
            </div>
        </form>
        <div class="clearfix "></div>
        <div class="margin-20">
        </div>
    </div>
</ng-template>
<ngx-spinner></ngx-spinner>