<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="widget widget-pie-chart" style="min-height:350px">
                        <header class="widget-header">
                            <h4 class="widget-title">PROYECTO</h4>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body clearfix">
                            <div class="col-md-3"><img src="http://fondoeditorial.uneg.edu.ve/catalogo/portadas/copernico.jpg" alt="" style="height:300px"></div>
                            <div class="col-md-9">
                                <h2 class="text-center">{{proyecto.nombre}}</h2>
                                <br>
                                <div class="col-md-7" style="text-align: justify">
                                    <h4>Descripcion</h4><br><span>{{proyecto.descripcion}}</span></div>
                                <div class="col-md-4 col-md-offset-1" style="text-align: justify">
                                    <h4>Datos</h4>
                                    <br>
                                    <ul>
                                        <li> <strong>Responsable Principal:</strong> {{proyecto.responsable}}</li>
                                        <br>
                                        <li> <strong>Tipo de Proyecto:</strong> {{proyecto.proyecto_type.nombre}}</li>
                                        <br>
                                        <li> <strong>Fecha de entrada:</strong> {{proyecto.created_at | date:'yyyy-MM-dd'}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
            </div>


            <!-- .row -->

            <div class="row">
                <!--  etapa preliminar -->

                <app-preliminar></app-preliminar>

                <!--  etapa preliminar -->

                <app-diagramacion></app-diagramacion>

                <!--  etapa preliminar -->

                <app-revision></app-revision>

                <!--  etapa preliminar -->

                <app-publicacion></app-publicacion>

            </div>
            <!-- .row -->
        </section>
    </div>
</main>