<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <h1>Reporte de Solicitudes</h1><br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte General de Solicitudes</h4><br> <br>
                                <span>Listado general de solicitudes, recibidas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="solicitudes_gen" novalidate (ngSubmit)="save(solicitudes_gen.value,'solicitudes_gen')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!solicitudes_gen.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte de Solicitudes Por Estado</h4><br>
                                <span>Listado de solicitudes por estado, recibidas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="solicitudes_est" novalidate (ngSubmit)="save(solicitudes_est.value,'solicitudes_est')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!solicitudes_est.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte General de Solicitudes (Proyectos)</h4><br>
                                <span>Listado general de solicitudes y sus proyectos, recibidas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="solicitudes_proyectos_gen" novalidate (ngSubmit)="save(solicitudes_proyectos_gen.value,'solicitudes_proyectos_gen')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="left" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!solicitudes_proyectos_gen.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte de Solicitudes (Proyectos) Por Estado</h4><br>
                                <span>Listado de solicitudes y sus proyectos según su estado, recibidas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="solicitudes_proyectos_est" novalidate (ngSubmit)="save(solicitudes_proyectos_est.value,'solicitudes_proyectos_est')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="left" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!solicitudes_proyectos_est.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                </div>
                <!-- END column -->
                <div class="col-md-12">
                    <h1>Reporte de Proyectos</h1><br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte General de Proyectos</h4><br>
                                <span>Listado general de proyectos, recibidos en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="proyectos_gen" novalidate (ngSubmit)="save(proyectos_gen.value,'proyectos_gen')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!proyectos_gen.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte General de Proyectos por Estado</h4><br>
                                <span>Listado de proyectos por estado, recibidos en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="proyectos_est" novalidate (ngSubmit)="save(proyectos_est.value,'proyectos_est')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!proyectos_est.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte de Proyectos(2)</h4><br>
                                <span>Listado general de proyectos, recibidos en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="proyectos2_gen" novalidate (ngSubmit)="save(proyectos2_gen.value,'proyectos2_gen')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="left" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!proyectos2_gen.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte General de Proyectos (3)</h4><br>
                                <span>Listado general de proyectos, recibidos en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="proyectos3_gen" novalidate (ngSubmit)="save(proyectos3_gen.value,'proyectos3_gen')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="left" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!proyectos3_gen.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte General de Proyectos(3)</h4><br>
                                <span>Listado general de proyectos, recibidos en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="proyectos3_est" novalidate (ngSubmit)="save(proyectos3_est.value,'proyectos3_est')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!proyectos3_est.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte de Proyectos Finalizados</h4><br>
                                <span>Listado proyectos finalizados en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="proyectos_listos" novalidate (ngSubmit)="save(proyectos_listos.value,'proyectos_listos')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!proyectos_listos.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                </div>
                <div class="col-md-12">
                    <h1>Reporte de Actividades</h1><br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte de Actividades</h4><br>
                                <span>Listado de actividades, registradas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="actividades" novalidate (ngSubmit)="save(actividades.value,'actividades')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!actividades.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3 panel-reporte">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte de Mejoras</h4><br>
                                <span>Listado de mejoras, registradas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="mejoras" novalidate (ngSubmit)="save(mejoras.value,'mejoras')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!mejoras.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                </div>
            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->
</main>
<ngx-spinner></ngx-spinner>

<!--========== END app main -->