<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h2>Reporte General</h2><br>
                                <span>klasjdklas sadkljsadkljsadklsa sakljdaskldsa d</span><br><br>
                                <button class="btn btn-primary" style="font-size:15px;cursor: pointer;">GENERAR</button>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h2>Reporte de Publicaciones</h2><br>
                                <span>klasjdklas sadkljsadkljsadklsa sakljdaskldsa d</span><br><br>
                                <button class="btn btn-primary" style="font-size:15px;cursor: pointer;">GENERAR</button>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h2>Reporte general</h2><br>
                                <span>klasjdklas sadkljsadkljsadklsa sakljdaskldsa d</span><br><br>
                                <button class="btn btn-primary" style="font-size:15px;cursor: pointer;">GENERAR</button>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                </div>
                <!-- END column -->


            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->

</main>
<!--========== END app main -->