<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <h1>Reporte de Solicitudes</h1><br>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte General de Solicitudes</h4><br> <br>
                                <span>Listado general de solicitudes, recibidas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="solicitudes_gen" novalidate (ngSubmit)="save(solicitudes_gen.value,'solicitudes_gen')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!solicitudes_gen.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte de Solicitudes Por Estado</h4><br>
                                <span>Listado de solicitudes según su estado, recibidas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="solicitudes_est" novalidate (ngSubmit)="save(solicitudes_est.value,'solicitudes_est')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="right" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!solicitudes_est.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte General de Solicitudes con Proyectos Asociados </h4><br>
                                <span>Listado general de solicitudes y sus proyectos, recibidas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="solicitudes_proyectos_gen" novalidate (ngSubmit)="save(solicitudes_proyectos_gen.value,'solicitudes_proyectos_gen')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="left" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!solicitudes_proyectos_gen.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-body text-center">
                                <h4>Reporte de Solicitudes con Proyectos Asociados Por Estado</h4><br>
                                <span>Listado de solicitudes y sus proyectos según su estado, recibidas en el siguiente rango de fechas:</span><br><br>
                                <form [formGroup]="solicitudes_proyectos_est" novalidate (ngSubmit)="save(solicitudes_proyectos_est.value,'solicitudes_proyectos_est')">
                                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 form-group">
                                        <input type="text" class="form-control" placeholder="Rango de Fechas" bsDaterangepicker formControlName="rango" placement="left" [bsConfig]="bsConfig" required />
                                    </div>
                                    <br><br>
                                    <button type="submit " class="btn btn-primary" [disabled]="!solicitudes_proyectos_est.valid " style="margin-right:50px">GENERAR</button>
                                    <div class="clearfix "></div>
                                </form>
                            </div>
                        </div>
                        <!-- .widget -->
                    </div>
                </div>
                <!-- END column -->
                <div class="col-md-12">
                    <h1>Reporte de Proyectos</h1><br>
                </div>

            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->
    <ngx-spinner></ngx-spinner>
</main>
<!--========== END app main -->