<div class="col-md-3 col-sm-6">
  <div class="widget stats-widget">
      <footer class="widget-footer bg-danger">
          <small>Diagramación</small><small class="pull-right">0</small>
      </footer>
      <div class="widget-body clearfix">
          <div class="pull-left">
              <small class="text-color">Pendientes por Revisar</small>
          </div>
          <span class="pull-right big-icon watermark"><i class="fa fa-ban"></i></span>
      </div>

  </div>
  <!-- .widget -->
</div>