<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h1 class="h3 title-form">Agregar Solicitud</h1>
                                </div>
                            </div>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="container">
                                <div class="row">
                                    <div>
                                        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
                                            <div class="col-xs-6">
                                                <div class="form-group col-xs-6">
                                                    <label>Nombre de la Solicitud</label>
                                                    <input type="text" class="form-control" formControlName="nombre" required>
                                                </div>

                                                <div class="form-group col-xs-6">
                                                    <label>Persona Contacto</label>
                                                    <input type="text" class="form-control" formControlName="contacto" required>
                                                </div>


                                                <div class="form-group col-xs-6">
                                                    <label>Usuario/Cliente</label>
                                                    <select formControlName="solicitante_id" class="form-control" required>
                                                        <option  value="" selected disabled hidden>Seleccionar</option>
                                                        <option  *ngFor="let solicitante of solicitantes" value="{{solicitante.id}}">{{solicitante.nombre}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-xs-6">
                                                    <label>Telefono</label>
                                                    <input type="text" class="form-control" formControlName="telefono" required>
                                                </div>
                                                <div class="form-group col-xs-6">
                                                    <label>Publicación</label>
                                                    <select formControlName="publicacion" class="form-control" required>
                                                            <option  value="" selected disabled hidden>Seleccionar</option>
                                                            <option  value="si">SI</option>
                                                            <option  value="no">NO</option>
                                                        </select>
                                                </div>
                                                <div class="form-group col-xs-6">
                                                    <label>Correo</label>
                                                    <input type="text" class="form-control" formControlName="correo" required>
                                                </div>
                                            </div>
                                            <div class=" form-group col-xs-6">
                                                <div class="col-md-12 form-group">
                                                    <label>Descripción de la Solicitud</label>
                                                    <textarea class="form-control" formControlName="descripcion" id="" cols="30" rows="10" required></textarea>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="clearfix"></div>
                                            <div class="clearfix"></div>
                                            <div class="col-xs-12">
                                                <div class="form-group text-center">
                                                    <button type="submit " class="btn btn-primary" [disabled]="!myForm.valid " style="margin-right:50px">Guardar</button>
                                                    <a routerLink="/solicitudes">
                                                        <input type="button" value="Cancelar" class="btn btn-danger cancel">
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<ngx-spinner></ngx-spinner>