<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
  <div class="wrap">
      <section class="app-content">
          <div class="row">
              <div class="col-md-12">
                  <div class="widget">
                      <header class="widget-header">
                          <div class="col-lg-6 col-md-6">
                              <h1 class="h3 title-form">Activar Solicitud</h1>
                          </div>
                          <a routerLink="/solicitudes">
                              <button type="button" class="btn btn-primary btn-circle pull-right " data-toggle="tooltip" data-placement="top" title="Volver">
                                          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                              </button>
                          </a>
                      </header>
                      <hr class="widget-separator" />
                      <div class="widget-body  ">
                        <div class="container">
                            <div class="row">
                                <div>
                                    <form  novalidate (ngSubmit)="save(myForm.value)">
                                        <div *ngFor="let proyecto of proyectos; let i=index">
                                        <div class="form-group col-xs-6 col-xs-offset-1">
                                            <label>Nombre</label>
                                            <input type="text" value="{{proyecto.nombre}}" class="form-control" disabled>
                                        </div>

                                        <div class="form-group col-xs-3">
                                            <label>Encargado</label>
                                            <select  (change)="Asignar(proyecto.id,$event.target.value)" name="{{proyecto.nombre}}" class="form-control">
                                                    <option  value="" selected disabled hidden>Seleccionar</option>
                                                    <option  *ngFor="let encargado of encargados"  [value]="encargado.id">{{encargado.nombre}}</option>
                                                </select>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                       <div class="text-center">
                        <a (click)="ActivarSolicitud(this.id)" style="cursor: default;"> <button type="button" class="btn btn-success">activar</button></a></div>
                      </div>
                  </div>
                  <!-- .widget -->
              </div>
              <!-- END column -->


          </div>

          <!-- .row -->
      </section>
      <!-- #dash-content -->
  </div>
  <!-- .wrap -->

</main>
<!--========== END app main -->