<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class=" col-md-6">
                                <h1 class="h3 title-form">Proyección de Solicitudes {{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h1>
                            </div>
                            <div class="col-md-6 ">
                                <div class="btn-group pull-right">
                                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                                        Mes Anterior
                                    </div>
                                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                        Hoy
                                    </div>
                                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                                        Mes Siguiente
                                    </div>
                                </div>
                            </div>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <br>
                            <div [ngSwitch]="view">
                                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [locale]="locale" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
                                    (eventTimesChanged)="eventTimesChanged($event)">
                                </mwl-calendar-month-view>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
                <!-- END column -->


            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->
</main>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Notificación de Proyección </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
                    <div class="form-group col-xs-12 col-md-12">
                        <label>Correo</label>
                        <input type="email" class="form-control" formControlName="correo" required>
                    </div>
                    <div class="form-group col-xs-12 col-md-12">
                        <label>Asunto</label>
                        <input type="text" class="form-control" formControlName="asunto" required>
                    </div>
                    <div class="form-group col-xs-12 col-md-12">
                        <label>Mensaje</label>
                        <textarea class="form-control" cols="30" rows="10" formControlName="mensaje" required></textarea>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group text-center">
                            <button type="submit " class="btn btn-primary" [disabled]="!myForm.valid " style="margin-right:50px">Enviar</button>
                            <a (click)="hideChildModal()">
                                <input type="button" value="Cancelar" class="btn btn-danger cancel">
                            </a>
                        </div>
                    </div>
                    <div class="clearfix "></div>
                </form>
            </div>
        </div>
    </div>
</div>