<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <h4 class="widget-title">Listado de Diseñadores</h4>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table class="table no-cellborder">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Lead Name</th>
                                            <th>Views</th>
                                            <th>Favorites</th>
                                            <th>Last Visit</th>
                                            <th>Last Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let encargado of encargados">
                                            <td class="text-danger">Buyer</td>
                                            <td>{{encargado.nombre}}</td>
                                            <td>150</td>
                                            <td>3201</td>
                                            <td>9:23 AM</td>
                                            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
                <!-- END column -->


            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->

</main>
<!--========== END app main -->