
                <div class="col-md-3 col-sm-6">
                  <div class="widget stats-widget">
                      <footer class="widget-footer bg-success">
                          <small>Publicación</small><small class="pull-right">0</small>
                      </footer>
                      <div class="widget-body clearfix">
                          <div class="pull-left">
                              <small class="text-color">Producciones Completadas</small>
                          </div>
                          <span class="pull-right big-icon watermark"><i class="fa fa-unlock-alt"></i></span>
                      </div>

                  </div>
                  <!-- .widget -->
              </div>