<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12" *ngIf="food.etapa == 'Preliminar'">
    <div class="wrap">
        <section class="app-content">

            <div class="row">

                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <h4 class="widget-title">{{food.nombre}}</h4>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table class="table no-cellborder">
                                    <thead>
                                        <tr>
                                            <th>Diseñador</th>
                                            <th>Tipo de Proyecto</th>
                                            <th>Tiempo Dedicado</th>
                                            <th>Fecha de entrada</th>
                                            <th>Fecha Estimada</th>
                                            <th>Fecha Entrega Final</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td *ngIf="food.responsable;else sin_asginar">{{food.responsable}}</td>
                                            <ng-template #sin_asginar>
                                                <td class="text-danger">Sin Asignar</td>
                                            </ng-template>
                                            <td>{{food.tipo}}</td>
                                            <td>{{food.tiempo_transcurrido}}</td>
                                            <td>{{food.created_at | date:'yyyy-MM-dd'}}</td>
                                            <td>{{food.fecha_estimada}}</td>
                                            <td *ngIf="food.etapa;else sin_entrega">{{food.etapa}}</td>
                                            <ng-template #sin_entrega>
                                                <td class="text-danger">Sin Entregar</td>
                                            </ng-template>
                                            <td>
                                                <a routerLink="/seguimiento/ {{food.id}}">
                                                    <button class="btn btn-primary">
                                                        Ver Más
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
                <!-- END column -->
            </div>
            <!-- .row -->

        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->

</main>
<!--========== END app main -->