<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class="col-lg-6 col-md-6">
                                <h1 class="h3 title-form">Listado de Proyectos</h1>
                            </div>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="table-responsive" style="width:300px">
                                <input type="text" class="form-control " placeholder="Filtrar por Nombre" [(ngModel)]="userFilter.nombre">
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table class="table no-cellborder">
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Titulo</th>
                                            <th>Autor</th>
                                            <th>Telefono</th>
                                            <th>Correo</th>
                                            <th>Responsable</th>
                                            <th>Etapa</th>
                                            <th>Fecha de Registro</th>
                                            <th>Entrega Estimada</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let proyecto of proyectos | filterBy: userFilter | paginate: { itemsPerPage: 10, currentPage: page }">
                                            <td class="text-success" style="width:10px">{{proyecto.tipo}}</td>
                                            <td>{{proyecto.nombre}}</td>
                                            <td>{{proyecto.autor }}</td>
                                            <td>{{proyecto.telefono }}</td>
                                            <td>{{proyecto.correo }}</td>
                                            <td *ngIf="proyecto.responsable;else sin_asginar">{{proyecto.responsable}}</td>
                                            <ng-template #sin_asginar>
                                                <td class="text-danger">Sin Asignar</td>
                                            </ng-template>
                                            <td>{{proyecto.etapa }}</td>
                                            <td>{{proyecto.created_at | date:'yyyy-MM-dd'}}</td>
                                            <td>{{proyecto.fecha_estimada | date:'yyyy-MM-dd'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <div class="text-center">
                                        <pagination-controls [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" (pageChange)="page = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
                <!-- END column -->


            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->

</main>
<!--========== END app main -->