<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h1 class="h3 title-form">Datos de Solicitud</h1>
                                </div>
                            </div>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="container">
                                <div class="row">
                                    <div>
                                        <div class="form-group col-xs-3 col-xs-offset-1">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" value="{{this.solicitud.nombre}}" readonly="readonly">
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <label>Solicitante</label>
                                            <input type="text" class="form-control" value="{{this.solicitud.solicitante.nombre}}" readonly="readonly">
                                        </div>
                                        <div class="form-group col-xs-3">
                                            <label>Publicación</label>
                                            <input type="text" class="form-control" value="{{this.solicitud.publicacion}}" readonly="readonly">
                                        </div>
                                        <div class=" form-group col-xs-10 col-xs-offset-1">
                                            <div class="col-md-12 form-group">
                                                <label>Descripcion</label>
                                                <textarea class="form-control" formControlName="descripcion" id="" cols="30" rows="10" readonly="readonly">{{this.solicitud.descripcion}}</textarea>
                                            </div>
                                        </div>
                                        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">

                                            <header class="widget-header">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <h1 *ngIf="this.solicitud.publicacion == 'si';else no_publicacion">Proyecto</h1>
                                                        <ng-template #no_publicacion>
                                                            <h1 class="h3 title-form">Proyectos</h1>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </header>
                                            <div formArrayName="proyectos">
                                                <div *ngFor="let Proyecto of formData.controls; let i=index" class="panel panel-default">
                                                    <div *ngIf="this.solicitud.publicacion != 'si'" class="panel-heading">
                                                        <span>Proyecto {{i + 1}} de {{this.solicitud.nombre}}</span>
                                                        <span class="fa fa-close pull-right" *ngIf="myForm.controls.proyectos.controls.length > 1" (click)="removeLanguage(i)"></span>
                                                    </div>
                                                    <div class="panel-body" [formGroupName]="i">
                                                        <div class="col-md-4">

                                                            <div class="form-group col-xs-12">
                                                                <label>Nombre de Proyecto</label>
                                                                <input type="text" class="form-control" formControlName="nombre" required></div>

                                                            <div class="form-group col-xs-12">
                                                                <label *ngIf="this.solicitud.publicacion == 'si'; else cliente_proyecto">Autor</label>
                                                                <ng-template #cliente_proyecto>
                                                                    <label>Usuario/Cliente</label>
                                                                </ng-template>
                                                                <input type="text" class="form-control" formControlName="autor" required></div>
                                                            <div class="form-group col-xs-12">
                                                                <label>Correo</label>
                                                                <input type="email" class="form-control" formControlName="correo" required></div>
                                                            <div class="form-group col-xs-12">
                                                                <label>Telefono</label>
                                                                <input type="text" class="form-control" formControlName="telefono" required></div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="col-xs-4 form-group">
                                                                <label>Fecha de inicio</label>
                                                                <input type="text" disabled class="form-control" required>
                                                            </div>
                                                            <div class="col-xs-4 form-group">
                                                                <label>Fecha de Entrega Estimada</label>
                                                                <input type="text" formControlName="tiempo_planificado_total" placeholder="Fecha estimada" class="form-control" bsDatepicker [bsConfig]="bsConfig" required>
                                                            </div>
                                                            <div class="col-xs-4 form-group">
                                                                <label>Fecha de Entrega Real</label>
                                                                <input type="text" class="form-control" disabled required>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Periodicidad</label>
                                                                <select formControlName="periodico" class="form-control" required>
                                                                                        <option  value="" selected disabled hidden>Seleccionar</option>
                                                                                        <option value="SI">SI</option>
                                                                                        <option value="NO">NO</option>
                                                                                    </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Tipo de Proyecto</label>
                                                                <select formControlName="proyecto_type_id" class="form-control" required>
                                                                                <option  value="" selected disabled hidden>Seleccionar</option>
                                                                            <option  *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.nombre}}</option>
                                                                        </select>
                                                            </div>
                                                            <div class="col-md-12 form-group">
                                                                <label>Descripcion</label>
                                                                <textarea class="form-control" formControlName="descripcion" id="" cols="30" rows="10" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <header class="widget-header text-center">
                                                <div class="row">
                                                    <div *ngIf="this.solicitud.publicacion != 'si'" class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                                                        <a (click)="addLanguage()" style="cursor: default">
                                                            <button type="button" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="top" title="Agregar SubProyecto">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    Añadir SubProyecto
                                                                </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </header>
                                            <div class="clearfix"></div>
                                            <div class="clearfix"></div>
                                            <div class="clearfix"></div>
                                            <div class="col-xs-12">
                                                <div class="form-group text-center">
                                                    <button type="submit " class="btn btn-primary" [disabled]="!myForm.valid " style="margin-right:50px">Guardar</button>
                                                    <a routerLink="/solicitudes">
                                                        <input type="button" value="Cancelar" class="btn btn-danger cancel">
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>