<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class="col-lg-6 col-md-6">
                                <h1 class="h3 title-form">Historial de actividades</h1>
                            </div>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table class="table no-cellborder">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Actividad</th>
                                            <th class="text-center">Observación</th>
                                            <th class="text-center">Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let actividad of actividades | paginate: { itemsPerPage: 10, currentPage: page }">
                                            <td [ngClass]="{'actualizacion text-default text-center': actividad.actualizacion == 'SI','text-default text-center': actividad.actualizacion == 'NO'}">{{actividad.titulo}}</td>
                                            <td [ngClass]="{'actualizacion text-default text-center': actividad.actualizacion == 'SI','text-default text-center': actividad.actualizacion == 'NO'}">{{actividad.observacion}}</td>
                                            <td [ngClass]="{'actualizacion text-default text-center': actividad.actualizacion == 'SI','text-default text-center': actividad.actualizacion == 'NO'}">{{actividad.created_at}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <div class="text-center">
                                        <pagination-controls [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" (pageChange)="page = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
                <!-- END column -->


            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->

</main>
<!--========== END app main -->