<!-- APP ASIDE ==========-->
<aside id="menubar" [ngClass]="{'menubar light': LogueoValido,'none': !LogueoValido}">

    <div class="menubar-scroll" *ngIf=LogueoValido>
        <div class="menubar-scroll-inner">
            <ul class="app-menu">
                <li class="has-submenu">
                    <a routerLink="/inicio" class="submenu-toggle">
                        <i class="menu-icon fa fa-home ozmdi-hc-lg"></i>
                        <span class="menu-text">Inicio</span>
                        <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                    </a>
                </li>

                <li class="has-submenu">
                    <a href="javascript:void(0)" class="submenu-toggle">
                        <i class="menu-icon fa fa-bars ozmdi-hc-lg"></i>
                        <span class="menu-text">Registro</span>
                        <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                    </a>
                    <ul class="submenu">
                        <li><a routerLink="/solicitudes"><span class="menu-text">Solicitudes</span></a></li>
                        <li><a routerLink="/proyectos"><span class="menu-text">Proyectos</span></a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript:void(0)" class="submenu-toggle">
                        <i class="menu-icon  fa fa-calendar ozmdi-hc-lg"></i>
                        <span class="menu-text">Proyecciones</span>
                        <span class="label label-warning menu-label">2</span>
                        <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                    </a>
                    <ul class="submenu">
                        <li><a routerLink="/proyecciones"><span class="menu-text">Proyección de Solicitudes</span></a></li>
                        <li><a routerLink="/proyecciones_proyecto"><span class="menu-text">Planificación de Proyectos</span></a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:void(0)" class="submenu-toggle">
                        <i class="menu-icon  fa fa-bar-chart-o ozmdi-hc-lg"></i>
                        <span class="menu-text">Estadisticas</span>
                        <span class="label label-warning menu-label">2</span>
                        <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                    </a>
                    <ul class="submenu">
                        <li><a routerLink="/estadisticas"><span class="menu-text">Generales</span></a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript:void(0)" class="submenu-toggle">
                        <i class="menu-icon  fa fa-print ozmdi-hc-lg"></i>
                        <span class="menu-text">Reportes</span>
                        <span class="label label-warning menu-label">2</span>
                        <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                    </a>
                    <ul class="submenu">
                        <li><a routerLink="/reportes"><span class="menu-text">Reportes PDF</span></a></li>
                        <li><a routerLink="/historial"><span class="menu-text">Historial de Actividades</span></a></li>
                    </ul>
                </li>
                <li class="has-submenu" style="position: absolute;left: 90%;">
                    <a href="javascript:void(0)" class="submenu-toggle">
                        <i class="menu-icon  fa fa-cogs ozmdi-hc-lg"></i>
                        <span class="menu-text">Opciones</span>
                        <span class="label label-warning menu-label">2</span>
                        <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                    </a>
                    <style>
                        .prueba {
                            right: 0% !important;
                        }
                    </style>
                    <ul class="submenu prueba">
                        <li><a routerLink="/solicitantes"><span class="menu-text">Solicitantes</span></a></li>
                        <li><a routerLink="/diseñadores"><span class="menu-text">Encargados</span></a></li>
                        <li><a routerLink="/tipo_proyecto"><span class="menu-text">Tipos de Proyectos</span></a></li>
                        <li><a routerLink="/usuarios"><span class="menu-text">Usuarios Autorizados</span></a></li>
                    </ul>
                </li>
            </ul>
            <!-- .app-menu -->
        </div>
        <!-- .menubar-scroll-inner -->
    </div>
    <!-- .menubar-scroll -->

</aside>
<!--========== END app aside -->