<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h1 class="h3 title-form">Agregar Tipo de Proyecto</h1>
                                </div>
                            </div>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="container">
                                <div class="row">
                                    <div>
                                        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
                                            <div class="form-group col-xs-4 col-md-4  col-xs-offset-1 col-md-offset-1">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" formControlName="nombre" required>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group text-center">
                                                    <button type="submit " class="btn btn-primary" [disabled]="!myForm.valid " style="margin-right:50px">Guardar</button>
                                                    <a routerLink="/tipo_proyecto">
                                                        <input type="button" value="Cancelar" class="btn btn-danger cancel">
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<ngx-spinner></ngx-spinner>