<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class="col-lg-6 col-md-6">
                                <h1 class="h3 title-form">Listado de Tipos de Proyectos</h1>
                            </div>
                            <a routerLink="/registro_tipo_proyecto">
                                <button type="button" class="btn btn-primary btn-circle pull-right add" data-toggle="tooltip" data-placement="top" title="Agregar Tipo de Proyecto">
                                    <i class="fa fa-plus" aria-hidden="true"> </i> Agregar
                                </button>
                            </a>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="table-responsive" style="width:300px">
                                <input type="text" class="form-control " placeholder="Filtrar por Nombre" [(ngModel)]="userFilter.nombre">
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table class="table no-cellborder text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tipo of tipos| filterBy: userFilter | paginate: { itemsPerPage: 10, currentPage: page }">
                                            <td class="text-default">{{tipo.nombre}}</td>
                                            <td><a (click)="ModalEliminar(observacion,tipo.id)" style="cursor: default;"><button type="button" class="btn btn-danger">Eliminar</button></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <div class="text-center">
                                        <pagination-controls [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" (pageChange)="page = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
                <!-- END column -->


            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->
</main>
<ng-template #observacion>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Eliminar Usuario/Cliente</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="FormObservacion" novalidate (ngSubmit)="EliminarTipoProyecto(FormObservacion.value)">
            <div class=" form-group col-xs-12 ">
                <div class="col-md-12 form-group">
                    <label>Observación/Razón de Eliminación</label>
                    <textarea class="form-control" formControlName="observacion" id="" cols="30" rows="10" required></textarea>
                </div>
            </div>
            <div class="form-group col-md-6 col-md-offset-3 text-center">
                <label>¿Sera Actualización ?</label>
                <select formControlName="actualizacion" class="form-control" required>
                          <option  value="" selected disabled hidden>Seleccionar</option>
                          <option value="SI">SI</option>
                          <option value="NO">NO</option>
                      </select>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div class="form-group text-center">
                    <button type="submit " class="btn btn-danger" [disabled]="!FormObservacion.valid " style="margin-right:50px">Eliminar</button>
                </div>
            </div>
            <div class="clearfix "></div>
        </form>
    </div>
</ng-template>


<!--========== END app main -->