<div class="col-md-3 col-sm-6">
    <div class="widget stats-widget">
        <footer class="widget-footer bg-success" [ngSwitch]="this.etapa.estado">
            <span style="font-size:20px">publicación</span>
            <span *ngSwitchCase="1" class="label label-warning pull-right" style="font-size:20px">Activa</span>
            <span *ngSwitchCase="2" class="label label-danger pull-right" style="font-size:20px">Finalizada</span>
            <span *ngSwitchDefault class="label label-default pull-right" style="font-size:20px">En espera</span>
            <br><br>
            <div class="text-center"><span> Entrega Estimada: <br> {{etapa.estimado | date:'yyyy-MM-dd'}}</span></div>


        </footer>
        <div class="widget-body clearfix">
            <a (click)="ActivarEtapa()" style="cursor: pointer;margin-right: 10px">
                <div *ngIf="!this.etapa.estado" class="text-center" style="margin-top:15px"><span class="fa fa-power-off fa-2x m-t-md-10"></span> <span style="font-size:20px"> Iniciar Etapa</span> </div>
            </a>
            <div *ngIf="this.etapa.estado == 1" class="text-center" (click)="Modal_Preliminar(preliminar)" style="margin-top:25px;cursor: pointer;"><span class="fa fa-plus fa-2x "></span></div>
            <div *ngFor="let adjunto of adjuntos">
                <br>
                <div class="widget">
                    <div class="widget-body text-center">
                        <div>
                            <a href="{{adjunto.ubicacion}}" download="{{adjunto.created_at}}"> {{adjunto.created_at}} <i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <br>
                        <div class="table-responsive text-justify">
                            <div class="panel-group accordion col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1">
                                        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{adjunto.id}}" aria-expanded="false" aria-controls="collapse-1">
                                            <h4 class="panel-title">Comentarios</h4>
                                            <i class="fa acc-switch"></i>
                                        </a>
                                    </div>
                                    <div id="collapse-{{adjunto.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                                        <div class="panel-body" *ngFor="let comentario of adjunto.comentarios">
                                            <div class="panel-body comentario">
                                                {{comentario.conteido}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .widget -->
            </div>
        </div>
    </div>
    <!-- .widget -->
</div>


<ng-template #preliminar>
    <div class="modal-header">
        <h4 class="modal-title text-center">Adición de Adjunto</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
            <div class="form-group col-md-10 col-md-offset-1">
                <label>Ubicacion</label>
                <input type="file" (change)="onSelected($event.target.files)" multiple>
            </div>
            <div class="form-group col-md-10 col-md-offset-1">
                <label>Comentario</label>
                <textarea class="form-control" formControlName="comentario" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="col-xs-12">
                <div class="form-group text-center">
                    <button type="submit " class="btn btn-primary" [disabled]="!myForm.valid " style="margin-right:50px">Guardar</button>
                    <input type="button" value="Cancelar" class="btn btn-danger cancel" (click)="modalRef.hide()">
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="margin-20">
            </div>
        </form>
    </div>
</ng-template>