<!-- APP MAIN ==========-->
<main id="app-main" class="col-md-12">
    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <header class="widget-header">
                            <div class="col-lg-6 col-md-6">
                                <h1 class="h3 title-form">Agregar Solicitud</h1>
                            </div>
                            <a routerLink="/registro_solicitud">
                                <button type="button" class="btn btn-primary btn-circle pull-right add" data-toggle="tooltip" data-placement="top" title="Agregar Solicitud">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                            </a>
                        </header>
                        <hr class="widget-separator" />
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table class="table no-cellborder">
                                    <thead>
                                        <tr>
                                            <th>Tipo de Solicitud</th>
                                            <th>Nombre</th>
                                            <th>Solicitante</th>
                                            <th>Fecha de Solicitud</th>
                                            <th>Last Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let solicitud of solicitudes">
                                            <td class="text-default">{{solicitud.tipo}}</td>
                                            <td>{{solicitud.nombre}}</td>
                                            <td>{{solicitud.solicitante}}</td>
                                            <td>{{solicitud.creada}}</td>
                                            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- .widget -->
                </div>
                <!-- END column -->


            </div>

            <!-- .row -->
        </section>
        <!-- #dash-content -->
    </div>
    <!-- .wrap -->

</main>
<!--========== END app main -->